#header {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.wrapper{
  padding-top: 50px;
}
.navbar-header{
  font-family: cursive;
}

#particles-js{
  background:black;
}

body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

.section{
  padding-top: 50px;
  max-width: 100%;
  height: 100vh;
}

#projects{
  background-color: red;
}

#testimonials{
  background-color: blue;
}

#contact{
  background-color: yellow;
}

#about{
  background-color: firebrick;
}
